//FONTS
$font-regular: "GandhiSansRegular";
$font-bold: "GandhiSansBold";

//COLORS: COLOR-NAME.COM
$light-silver: #D9D9D9;
$maastricht-blue: #041833;
$dark-cerulean: #154580;
$oxford-blue: #04244F;
$bright-lilac: #C98CF1;
$medium-slate-blue: #7B78E5;
$spanish-gray: #9D9D9D;
$tag-color: rgba(148, 163, 184,0.3);
$white: #FFFFFF;


// $cor-do-texto: #d9d9d9;
// $azul-escuro: #041833;
// $azul-claro: #154580;
// $azul-rodape: #04244f;
// $rosa: #c98cf1;
// $roxo: #7b78e5;
// $cinza-claro: #9d9d9d;
// $tag-color: rgba(148, 163, 184,0.3);